#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fffaef;
    vertical-align: middle;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fffaef;
    margin: 0;
    padding: 0;
}

#sidebar-container{
    display: flex;
    flex-direction: column;
    position: relative;

}

.user-options{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.site-title {
    font-size: 40px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    position: relative;
    left: -30%;
    border-radius: 600px;
}

#basket-container {
    font-family: 'Poppins', sans-serif;
    color: #333;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fffaef;
    border-bottom: 1px solid #ccc;
}

.menu-icon, .user-icon {
    font-size: 24px;
}

#basket-container{
    max-width: none;
    margin: 0;
}

.basket-name-container{
    position: relative;
    padding-left: 10%;
    text-align: left;
}

.basket-name-container::after{
    content: '';
    position: absolute;
    left: 5%;
    right: 45%;
    bottom: 0;
    border-bottom: 3px solid black;
    width: auto;
}

#basket-name {
    font-weight: bold;
    font-size: 200%;
    margin: 0;
    padding-bottom: 10px;
    /*border-bottom: 2px solid black;*/
}
#basket-empty {
    display: none;
}

#basket-empty img {
    width: 100px;
}

#basket-empty p {
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#explore-button {
    background-color: #000000;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

#explore-button:hover {
    background-color: #000000;
}
body{
    background-color: #fffaef;
    margin: 0;
    padding: 0;
}
.basket-product-container{
    max-height: 25em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

.basket-product {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
/*
.basket-product::before {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    top: 0;
    border-top: 3px solid black;
    width: auto;
}
.basket-product::after {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    border-bottom: 3px solid black;
    width: auto;
}
 */

.product-info {
    display: inline-block;
    position: sticky;
    left: 0;
}
.product-info p {
    font-size: 1.2em;
}
.product-title {
    padding: 1em 0;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.3em;

}

.count-container{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 0;
}
.count-button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: bold;
    outline: none;
}
.count-button:hover{
    color: #C3C8FF;
    outline: none;
}
.count-button:focus{
    outline: none;
}
.image-container {
    padding: 0.5em;
    text-align: center;

}

.product-image {
    max-width: 170px; /* TAMAÑO DE LA IMAGEN */
    max-height: 170px;
    margin: 0 auto 10px; /* Centra la imagen y añade margen inferior de 10px */
    display: inline-block; /* Hace que la imagen se comporte como un bloque para poder centrarla con margin auto */
    vertical-align: middle;
}

.price {
    font-size: 2em;
    font-weight: bold;
    color: #488BFF;
}

.clear-container{
    padding:2em 0;
}
.clear-button{
    background-color: #DE3F3F;
    font-size: 2em;
    font-weight: bold;
    border-color: transparent;
    border-radius: 10px;
    padding:0.3em 0;
    color: white;
}

.resume-container{
    background: rgba(24, 32, 74, 0.5);
    border: 2px solid #ddd;
    border-radius: 2em;
    padding: 0.5em;
}
.resume-title{
    font-size: 3em;
    text-align: left;
    padding: 0.3em 0.5em;
    margin:0;
    color: white;
    position: relative;
}
.resume-title:after{
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    border-bottom: 0.1em solid white;
    border-radius: 10px;
    width: auto;
}
.total-title{
    font-size: 2em;
    text-align: left;
    padding: 0.3em 1em;
    margin:0;
    color: white;
}
.total-amount-container{
    text-align: right;
}
.total-amount{
    font-size: 2.5em;
    font-weight: bold;
    text-align: right;
    padding: 0.3em 1em;
    color: #FFC861;
}

.payment-container{
    background: transparent;
    padding: 0.5em;
    margin-top: 1em;
}

.payment-button{
    background-color: #488BFF;
    font-size: 2em;
    font-weight: bold;
    border-color: transparent;
    border-radius: 10px;
    padding:0.3em 0.2em;
    color: white;
}
/**---------------------------------------------*/

::-webkit-scrollbar {
    width: 0.5em; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados de la barra */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra al pasar el mouse */
}
/**---------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff00;
    vertical-align: middle;
}


.user-options{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.site-title {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    position: relative;
    left: -35%;
    bottom: 10px;
    border-radius: 600px;
}


.sidebar {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}
.sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar.active {
    width: 250px;
}

.sidebar hr {
    border: 0;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 80%;
}

.closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

.contact_sidebar{
    position: absolute;
    top: 85%;
    left: -10%;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

#dark-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    display: none;
    z-index: 1;
}
/*----------------------------------------------------------------------------------*/
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Color oscuro para contrastar con el texto blanco */
    color: white;
    padding: 20px;
    flex-wrap: wrap; /* Asegura que el contenido se ajuste en pantallas pequeñas */
    gap: 20%
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    width: 30%;
    background-color: #333; /* Color oscuro para contrastar con el texto blanco */
    color: white;
}

.footer-right {
    display: flex;
    width: 400px; /* Establece un ancho mínimo para cada sección */
    padding: 10px;
}

h3 {
    margin-top: 0; /* Elimina el margen superior para alinear el título con el borde superior */
    color: #FFD700; /* Color dorado para los títulos */
}

p {
    margin: 5px 0; /* Reduce el margen para los párrafos */
}

#map {
    width: 100%; /* Ancho del cuadrado */
    height: 250px; /* Altura del cuadrado */
    border-radius: 10px; /* Opcional: bordes redondeados */
    background-color: #eee; /* Color de fondo mientras el mapa carga */
}



