 body {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     background-color: #fffaef; /* Un color de fondo similar al de la imagen */

 }
 h1 {
     text-align: center;
     font-size: 50px;
 }

#productsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;

}

.product-card {
    max-width: 242.2px;
    width: 100%; /* O el ancho que prefieras */
    height: 323.6px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;

}

.image-container{
    overflow: hidden;
    width: 100%;
    height: 72.81%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-image {
    width: auto;
    /*border-radius: 3px;*/
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.product-description {
    font-size: 18px;
    color: #333;
    line-height: 110%;
    font-weight: bolder;
    flex-grow: 1;
}


.product-button {
    border:none;
    font-weight:600;
    color: white;
    background-color:black;
    padding: 10px 20px;
    cursor: pointer;
    border-top-left-radius: 0; /* Adjust the radius value as needed */
    border-bottom-left-radius: 0; /* Adjust the radius value as needed */
    display: block;
    width: 100%;
}

.product-button:hover {
    background-color: #0056b3;
}

/*----------dispositivo tablet-----------*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    #products {
        width: 80%;
    }

    .product-card {
        flex: 1;
        flex-basis: 30%;
        margin: 1%;
    }

}

/*------dispositivos moviles--------*/

@media only screen and (max-width: 600px) {

    #products {
        width: 100%;
        padding-left: 0;
    }
    .product-card {
        width: calc(40% - 5px);
        height: 320px;
        margin: 5px;

    }

}



/*---------------------------------- --> HEADER*/

#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff00;
    vertical-align: middle;
}


.user-options{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.site-title {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    position: relative;
    left: -35%;
    bottom: 10px;
    border-radius: 600px;
}


.sidebar {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}
.sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar.active {
    width: 250px;
}

.sidebar hr {
    border: 0;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 80%;
}

.closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

 .contact_sidebar{
     position: absolute;
     top: 85%;
     left: -10%;
     font-size: 36px;
     margin-left: 20px;
     cursor: pointer;
 }


 /*----------------------------------------------------------------------------------*/
 #footer {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #333; /* Color oscuro para contrastar con el texto blanco */
     color: white;
     padding: 20px;
     flex-wrap: wrap; /* Asegura que el contenido se ajuste en pantallas pequeñas */
     gap: 20%
 }
 .footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: left;
     gap: 10%;
     width: 30%;
     background-color: #333; /* Color oscuro para contrastar con el texto blanco */
     color: white;
 }

 .footer-right {
     display: flex;
     width: 400px; /* Establece un ancho mínimo para cada sección */
     padding: 10px;
 }

 h3 {
     margin-top: 0; /* Elimina el margen superior para alinear el título con el borde superior */
     color: #FFD700; /* Color dorado para los títulos */
 }

 p {
     margin: 5px 0; /* Reduce el margen para los párrafos */
 }

 #map {
     width: 100%; /* Ancho del cuadrado */
     height: 250px; /* Altura del cuadrado */
     border-radius: 10px; /* Opcional: bordes redondeados */
     background-color: #eee; /* Color de fondo mientras el mapa carga */
 }


