body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaef;
}

h1{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    color: #000000;
}

#filter-container {
    text-align: right;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 12%;
}

#filter-select {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#product-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.product {
    /*background-color: #ffffff;*/
    background: none;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1em 1em;
    width: calc(48% - 2em);
    height: calc(100% - 2em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-header {
    vertical-align: middle;
    position: relative;
}


.product-header a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.product-title {
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
}
.image-container {
    display: inline-block;
}
.product-image {
    max-width: 150px; /* TAMAÑO DE LA IMAGEN */
    max-height: 150px;
    margin: 0 auto 10px; /* Centra la imagen y añade margen inferior de 10px */
    display: inline-block; /* Hace que la imagen se comporte como un bloque para poder centrarla con margin auto */
    vertical-align: middle;
}


.product-container {
    text-align: center;
}

.product-name {
    font-size: 2em;
    margin-bottom: 5px;
}

.product-rating span {
    font-size: 30px;
}
@media (max-width: 856px) {
    .product {
        width: calc(100% - 3em);
    }
}
#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff00;
    vertical-align: middle;
}


.user-options{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.site-title {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    position: relative;
    left: -35%;
    bottom: 10px;
    border-radius: 600px;
}


.sidebar {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}
.sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar.active {
    width: 250px;
}

.sidebar hr {
    border: 0;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    width: 80%;
}

.closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

.contact_sidebar{
    position: absolute;
    top: 85%;
    left: -10%;
    font-size: 36px;
    margin-left: 20px;
    cursor: pointer;
}

#add-review-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comments-container {
    max-height: 0; /* Inicialmente no se muestra el contenido */
    overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
    transition: max-height 0.5s ease-out; /* Suaviza la transición de la altura máxima */
    background-color: ghostwhite;
    border-radius: 0.8em;
}

.comments-container h4{
    text-align: left;
    font-size: 1.5em;
    color: #C3C8FF;
    padding-left: 1em;
    margin: 5px;
}

.product:hover .comments-container {
    max-height: 135px; /* Ajusta según necesites para mostrar los comentarios al pasar el cursor */
}

.comment {
    /* border-top: 1px solid #ddd; */
    border: none;
    border-radius: 0.8em;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 0.5em; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados de la barra */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra al pasar el mouse */
}

/*----------------------------------------------------------------------------------*/
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Color oscuro para contrastar con el texto blanco */
    color: white;
    padding: 20px;
    flex-wrap: wrap; /* Asegura que el contenido se ajuste en pantallas pequeñas */
    gap: 20%
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10%;
    width: 30%;
    background-color: #333; /* Color oscuro para contrastar con el texto blanco */
    color: white;
}

.footer-right {
    display: flex;
    width: 400px; /* Establece un ancho mínimo para cada sección */
    padding: 10px;
}

h3 {
    margin-top: 0; /* Elimina el margen superior para alinear el título con el borde superior */
    color: #FFD700; /* Color dorado para los títulos */
}

p {
    margin: 5px 0; /* Reduce el margen para los párrafos */
}

#map {
    width: 100%; /* Ancho del cuadrado */
    height: 250px; /* Altura del cuadrado */
    border-radius: 10px; /* Opcional: bordes redondeados */
    background-color: #eee; /* Color de fondo mientras el mapa carga */
}


