#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff00;
    vertical-align: middle;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

}

.user-options{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.menu-button {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 47px;
    display: inline-block;
}

.site-title {
    font-size: 40px;
    color: #000;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    position: relative;
    left: -30%;
    border-radius: 600px;
}

#basket-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.menu-icon, .user-icon {
    font-size: 24px;
}

#basket-name {
    font-weight: bold;
}

#basket-content {
    padding: 50px 20px;
}

#basket-empty img {
    width: 100px; /* Adjust as necessary */
}

#basket-empty p {
    margin: 20px 0;
}

#explore-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#explore-button:hover {
    background-color: #000000;
}
body{
    background-color: beige;
}