body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* Beige background */
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-button {
  cursor: pointer;
}
.site-title {
  font-size: 24px;
}
.cart-access,
.login-button {
  cursor: pointer;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d2d2bd; /* Sandy color */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar.active {
  width: 250px; /* Adjust width of the sidebar */
}
.closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 20px;
  cursor: pointer;
}
