<app-header></app-header>
<div class="basket-container">
  <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
    <!-- Verificamos si hay ítems en la cesta -->
    <div class="basket-container-2">
      <ng-container *ngIf="basketItems.length > 0; else emptyBasketTemplate">
        <ul>
          <li *ngFor="let item of basketItems">
            <img [src]="item['img-route']" alt="Product image">
            <div>
              <h3><b>{{ item.name }}</b></h3>
              <p>{{ item.description }}</p>
              <p><b>Precio: </b> {{ item.price | currency:'EUR':true:'1.2' }}</p>
              <p><b>Cantidad:</b> {{ item.quantity }}</p>
            </div>
          </li>
        </ul>
        <div class="total">
          <h3>Total: {{ total | currency:'EUR':true:'1.2' }}</h3>
        </div>
      </ng-container>
      <ng-template #emptyBasketTemplate>
        <p>Su cesta está vacía.</p>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #notLoggedInTemplate>
    <div class="empty-basket">
      <i class="fas fa-shopping-basket fa-10x" style="opacity: 0.3;;"></i>
      <p>Sesión no loggeada. <a routerLink="/register-login">Inicie sesión</a> para poder añadir productos a la cesta.
      </p>
    </div>
  </ng-template>
</div>

