#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333; /* Color oscuro para contrastar con el texto blanco */
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 0;
  font-family: 'Poppins', sans-serif;
}

.footer-right {
  width: 20em;/* Asegúrate de que tiene suficiente ancho */
  margin: 2%;
}

h3 {
  font-size: 2vw;
  color: #FFD700; /* Color dorado para los títulos */
}

p {
  margin: 2em 0;
  font-size: 1.5vw;
}

b{
  color: #FFD700;
}

