/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.password-reset-container {
  padding: 2rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.password-reset-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.password-reset-container form {
  display: flex;
  flex-direction: column;
}

input[type="email"], button[type="submit"] {
  height: 50px;
  padding: 0 20px;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

input[type="email"]:focus, button[type="submit"]:focus {
  border-color: #009579;
}

button[type="submit"] {
  background-color: #FFD700;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #006653;
}

.success-message, .error-message {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

a {
  text-align: center;
  display: block;
  color: #009579;
  text-decoration: none;
  margin-top: 1rem;
}

a:hover {
  text-decoration: underline;
}
