<app-header></app-header>
<div class="center-container">
  <div class="password-reset-container">
    <h1>Reset Your Password</h1>
    <form (submit)="onResetPassword(); $event.preventDefault();">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
      <button type="submit">Send Reset Email</button>
    </form>

    <!-- Success -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <!-- Error -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
