<!-- header.component.html -->
<div class="header">
  <div class="overlay" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
  <div class="menu-button" (click)="toggleSidebar()">
    <img src="./assets/img/menu.png" alt="Menu" height="40" width="40">
  </div>
  <div class="title">
    <a [routerLink]="['/Home']">
      <img src="./assets/img/logo-TFC.png" alt="Logo" height="125" width="125">
    </a>
  </div>
  <div class="user-options">
    <a class="basket-image" [routerLink]="['/basket']">
    <img src="./assets/img/cesta.png" alt="Cesta" height="40" width="40">
    </a>
    <div *ngIf="isLoggedIn; else notLoggedIn">
      <div class="user-image-container" (click)="toggleMenu()">
        <img src="./assets/img/usuario.png" alt="Usuario" height="40" width="40">
        <div class="menu" [ngClass]="{'visible': menuVisible}">
          <ul>
            <li>Mis datos</li>
            <!--
                        Recordar cambiar a false el visible para que al volver no se active el togglemenu auto
            -->
            <li>Mis pedidos</li>
            <li><a routerLink="/" (click)="logout()">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <ng-template #notLoggedIn>
      <a [routerLink]="['/register-login']">
        <img src="./assets/img/usuario.png" alt="Usuario" height="40" width="40">
      </a>
    </ng-template>

  </div>
  <div *ngIf="sidebarOpen" class="sidebar">
    <div class="closebtn" (click)="toggleSidebar()">&times;</div>
    <a routerLink="/Home">Drinks</a>
    <a routerLink="/">Smoothies</a>
    <a routerLink="/">Cocktails</a>
    <a routerLink="/">Frozen Desserts</a>
    <a routerLink="/">Appetizer</a>
    <hr/>
    <a [routerLink]="['/reviews']">Reviews</a>
    <a [routerLink]="['/contact-us']">Contact Us</a>
  </div>
</div>
