@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: 2%;
  height: 10vh;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;

}


.menu-button, .user-options {
  cursor: pointer;
  display: flex;
  margin-right: 1em;
}

.user-options img {
  margin-right: 0.5em; /* Añade margen a la derecha de cada icono */
}

.user-options img:last-child {
  margin-right: 0; /* Elimina el margen del último icono para evitar espacio extra en el borde */
}

.title {
  flex-grow: 1;
  text-align: center;

}
.sidebar a {
  padding: 1em 2em;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.5s;
  font-size: 1.8em;
}

.sidebar hr {
  border: 0;
  height: 3px;
  background-color: black;
  margin: 10%;
  width: 80%;
}

.closebtn {
  position: relative;
  left: 15rem;
  cursor: pointer;
  font-size: 2em; /* Tamaño de la 'X' */
  font-weight: bold;
  color: black; /* Color de la 'X' */
}

.contact_sidebar{
  top: 85%;
  left: -10%;
  font-size: 1.5em;
  margin-left: 20px;
  cursor: pointer;
}
.overlay {
  position: fixed; /* Posición fija respecto a la ventana del navegador */
  width: 100%; /* Cubre toda la anchura */
  height: 100%; /* Cubre toda la altura */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con transparencia */
  z-index: 3; /* Asegúrate de que esté por debajo del sidebar pero por encima del contenido normal */
}

.sidebar {
  height: 100%;
  width: 20rem;
  position: fixed; /* Fijar el sidebar en la pantalla */
  left: 0;
  top: 0;
  padding-top: 2.5%;
  background-color: #ffffff; /* Color de fondo del sidebar */
  box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Sombra para un efecto 3D */
  transition: all 0.4s;
  transform: translateX(-100%);
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  z-index: 3;
  overflow-y: auto;
}



.header .sidebar {
  transform: translateX(0);
}

.user-image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-image-container img {
  display: block;
}

.menu {
  position: absolute;
  top: 130%;
  bottom: -283%;
  left: -30%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 350%;
  height: 300%;
  display: none;
  z-index: 2;
}

.menu.visible {
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0;
  z-index: 1;
  font-family: 'Poppins', sans-serif;

}

.menu ul li {
  padding: 8px 12px;
}

.menu ul li:hover {
  cursor: pointer;
}

.menu ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.basket-image{
  margin-right: 1em;
}
