@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

:host{
  background-color: beige;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 3%;
}

.profile-form {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.profile-header img {
  max-width: 10em;
}

.user-email {
  margin-bottom: 20px;
  text-align: center;
}

.delete-account {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.delete-account:hover {
  background-color: #c82333;
}


