<app-header></app-header>
<div class="product-detail">

  <h1>{{ product.name }}</h1>

  <section class="product-card">
    <section class="product-card-inside">
      <section class="product-image">
        <img [src]="product.imgRoute" alt="Imagen del producto" class="main-image">
      </section>

      <div class="product-extra">
        <p class="price" >{{ product.price }}€</p>
        <button (click)="addProductToBasketAndGoBack()" class="add-cart">Add to Cart</button>
      </div>
    </section>

  </section>

  <section class="product-info">
      <p class="product-description">{{ product.description }}</p>
  </section>
</div>
