<app-header></app-header>
<div class="product-detail">
  <section class="product-image">
    <img src="img/frozenDesserts/sandwich_helado.png" alt="Imagen del producto" class="main-image">
    <div class="product-extra">
      <div class="product-rating">
        <div class="rating-star">
          <span class="star" data-value="1">★</span>
          <span class="star" data-value="2">★</span>
          <span class="star" data-value="3">★</span>
          <span class="star" data-value="4">★</span>
          <span class="star" data-value="5">★</span>
        </div>
        <p class="price" >3.80$</p>
      </div>
      <button class="add-cart">+Añadir al carrito</button>
    </div>
  </section>

  <section class="product-info">
    <h1>Nombre del producto</h1>
    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel vestibulum diam, sit amet hendrerit ex. Pellentesque eleifend sapien vitae felis condimentum, nec volutpat odio hendrerit. Pellentesque id pellentesque tortor.</p>
    <div class="additional-image">
      <img src="/img/frozenDesserts/sandwich_helado.png" alt="imagen extra 1" class="extra-image">
      <img src="/img/frozenDesserts/sandwich_helado.png" alt="imagen extra 2" class="extra-image">
    </div>
  </section>
</div>


