@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:host{
  background-color: beige;
}

.categories{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-size: 2vw;
  font-weight: bold;
}
.category:hover{
  color: darkkhaki;
}
.category.selected{
  color: darkkhaki;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li{
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.products-display{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 5em 2em;

}
.product-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5em;
}
