<app-header></app-header>

<div id="wrapper">
  <div id="contact-container">
    <section id="contact-info">
      <div class="info-block">
        <h1>Visit us:</h1>
        <p>Maspalomas Dunes</p>
        <br>

        <p>{{contactEmail}}</p>
      </div>
      <div class="info-block">
        <h1>Open:</h1>
        <p>Monday to Friday --> <b>12:00 - 24:00</b></p>
        <p>Saturday --> <b>12:00 - 3:00 (am)</b></p>
        <p>Sunday --> <b>13:00 - 23:00</b></p>
      </div>
      <div class="info-block contact-form">
        <h1>Contact us:</h1>
        <form>
          <input type="email" placeholder="E-mail">
          <textarea placeholder="Message"></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </section>
  </div>
</div>

