<app-header></app-header>

<div id="wrapper">
  <div id="contact-container">
    <section id="contact-info">
      <div class="info-block">
        <h3>Visit us:</h3>
        <p>Street Dunas, 123</p>
        <br>
        <h3>Contact:</h3>
        <p>{{contactEmail}}</p>
      </div>
      <div class="info-block">
        <h3>Open:</h3>
        <p>lunes a viernes</p>
        <p>sábado</p>
        <p>domingo</p>
      </div>
      <div class="info-block contact-form">
        <h3>Contact us:</h3>
        <form>
          <input type="email" placeholder="E-mail">
          <textarea placeholder="Message"></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </section>
  </div>
</div>

