:host{
  background-color: beige;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding-top: 0;
  padding-bottom: 0;

}

.centered-text {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  text-align: center;
}

.centered-text h1 {
  font-size: 4rem;
  color: #505050;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


/* Contenedor Principal de Contacto */
#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Sección de Información de Contacto */
#contact-info {
  display: flex;
  flex-wrap: wrap; /* Hace que los bloques de información sean responsivos */
  justify-content: space-around;
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
  width: 80%;
  max-width: 960px; /* Ajusta este valor según tus preferencias */
}

.info-block {
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  flex-grow: 1;
  min-width: 250px;
  color: #fff;
  background-color: rgba(256,255,255,0.1);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #007BFF;
}

/* Formulario de Contacto */
.info-block.contact-form {
  flex-grow: 1;
  width: 100%;
}

.info-block.contact-form form {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos del formulario */
}

.info-block.contact-form input,
.info-block.contact-form textarea,
.info-block.contact-form button {
  width: 90%; /* Establece un ancho específico para todos los elementos del formulario */
  max-width: 500px; /* Asegura que los elementos no se extiendan demasiado en pantallas grandes */
  padding: 12px;
  margin-bottom: 10px; /* Espaciado entre elementos del formulario */
  border-radius: 5px;
  border: 1px solid #ffffff; /* Estilo del borde, ajusta según tu diseño */
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

.info-block.contact-form button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none; /* Remueve el borde para el botón, opcional */
}

.info-block.contact-form button:hover {
  background-color: #0056b3;
}


nav{
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
}

/*
color: #009579;  verde flojo
background: #FFD700; amarillo
background: #006653; verde fuerte
 */
